header {
  padding: 20px 0;
}

header .row,
footer .row {
  display: flex;
  align-items: center;
}

header h1 {
  font-weight: 700;
  margin: 0;
  color: #2695fe;
}

header nav {
  display: flex;
  justify-content: flex-end;
}

header  {
  padding: 40px 100%;
  margin: 0;
  color: red;
  background-color: lightblue;
  
}

.container {

	width: 100%;
}

.jumbotron {


	height: 100%;
	background-color: lightblue;

}

table, td, th {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    height: 50px;
}

